* {
  margin: 20px;
  margin-left: 0px;
  padding: 0px;
}

nav {
  display: inline-block;
  height: 175px;
  margin: 2%;
  width: 100%;
}

header {
  display: inline-block;
  height: 175px;
  margin: 0;
  padding-top: 0;
  width: 25%;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  margin: 0px;
}

div {
  margin: 0px;
}

img {
  margin: 0px;
}

section {
  display: inline-block;
  margin: 1.5%;
}

.shop img{
  width:100%;
}

.sp-ban img {
  width: 100%;
}
.sp-ban section {
  width: 100%;
}

.au-ban {
  margin: 2%;
}

.au-content__img {
  float: left;
  width: 25%;
}

.au-blurb {
  float: right;
  margin-left: 5%;
  width: 60%;
}

.mensContent {
  width: 100%;
}

.womensContent {
  width: 100%;
}

.kidsContent {
  width: 100%;
}

.tshirtBox {
  float: left;
  margin: 1%;
  width: 15%;
}
.tshirtImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tshirtDesc {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#mensContent__tshirtBox--bottomLeft {
  clear:both;
}

#womensContent__tshirtBox--bottomLeft {
  clear:both;
}

#kidsContent__tshirtBox--bottomLeft {
  clear:both;
}
