* {
  padding: 0;
  margin: 20px;
}

nav {
  height: 175px;
  display: inline-block;
  width: 100%;
  margin: 0px;
}

header {
  width: 35%;
  height: 175px;
  padding-top: 0;
  margin: 0;
  display: inline-block;
}

h1 {
  margin: 0px;
  font-weight: bold;
  font-size: 4em;
}

div {
  margin: 0px;
}
img {
  margin: 0px;
}

section {
  display: inline-block;
  margin: 1.5%;
}