/* common banner */
.nav-bar {
  border-bottom: 5px;
  padding-bottom: 5px;
}

.nav-links {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  width: 30%;
}

.nav-links a{
  margin-left: 15%;
}

.login {
  display: inline-block;
  margin-left: 10%;
}
/*.shop-cart{
  display: inline;
  margin-left: 10%;
  width: 15%;
}

#shop-cart-img {
  height: 75px;
}*/

/* splash page */
.sp-ban {
  text-align: center;
}

.sh-pre {
  display: block;
  margin: 0px;
  padding: 0;
  width: 100%;
}

.shop {
  text-align: center;
  width: 30%;
}

.shop h2 {
  font-size: 3em;
}

.footer_h2 {
  font-size: 1em;
}

.footer__contactBlock {
  background-color: #808080;
}

.footer__contactBlock ul li {
  display: block;
  font-size: 1em;
  white-space: nowrap;
}

/* About Us */
.hideMe {
  display: none;
}

.au-ban {
  background-image: url("../files/manuscript_3.jpg");
  color: #003366;
  font-family: "comic sans ms";
  font-size: 1.5em;
  display: block;
  text-align: center;
}

.au-blurb {
  background-color: #A3C8FF;
  padding-left: 1%;
}

.tshirtBox a {
  text-decoration: none;
}

.shop-cart-contents {
  width: 100%;
  display: inline;
}

#whats-in-cart {
  width: 100%;
}

div.cart-title {
  width: 12%;
  display: inline-block;
  padding: 1%;
}

article.total {
  padding-left: 70%;
}
